<html>

    <head>
        <title><%= fruit.type %> - <%= fruit.kind %></title>
        <meta charset="UTF-8">
    </head>

    <body>
        <p><%= fruit.creationDate %></p>
        <p><%= fruit.type %></p>
        <p><%= fruit.kind %></p>
        <p><%= fruit.origin %></p>
    </body>

</html>